# Cas Kaggle

**Nerea de La Torre Veguillas 1669013**

**Helena Boneu Vidal 1673129**

Hem utilitzat el dataset **Harry Potter Dataset**.

In [1520]:
import pandas as pd
import numpy as np

Carreguem el **dataset**:

Quan vam observar el datset per primer cop, vem veure que hi havien bastantes característiques dels personatges que no hi eren, per això vem decidir fer una cerca a internet i buscar la informació faltat. Tot i així, no vem poder aconseguir trobar totes les dades necessàries.

In [1521]:
df = 'C:/Users/helen/OneDrive/Documentos/3r Carrera/1r semestre/Aprenentatge Computacional/Kaggle/data/harry-potter-dataset/Characters.csv' #'C:/Users/nerea/OneDrive/Escritorio/cosas uni/3r/AP/kaggle/Characters.csv'

df = pd.read_csv(df, delimiter=';')
df.head(5)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,"30 June, 1997"
4,5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,NaN

In [1522]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

Columnes amb nans:

Job              5.000000
House           16.428571
Patronus         5.000000
Blood status     4.285714
Hair colour      0.714286
Eye colour      12.142857
Skills           5.000000
Birth            9.285714
Death           70.000000
dtype: float64

Eliminem les files dels **personatges** que **no** tenen **casa**.

In [1523]:
df = df.dropna(subset=['House'])

També veiem que les característiques 'Birth, Death' no són rellevants per a la nostra predicció. Per tant, les podriem eliminar del nostre dataset.

In [1524]:
df = df.drop(columns=['Birth', 'Death'])
print(df.keys())

Index(['Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills'],
      dtype='object')

Mirem les **columnes** que tenen **nans**.

In [1525]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

Columnes amb nans:

Job              4.273504
Patronus         5.128205
Blood status     1.709402
Eye colour      10.256410
Skills           5.128205
dtype: float64

Haurem de fer **encoding** per les variables categòriques.
* Eye colour
* Hair colour
* Gender

In [1526]:
from sklearn.preprocessing import LabelEncoder

numeric_features = df.select_dtypes(np.number).keys()
non_numeric = ['Eye colour', 'Hair colour', 'Gender']
df.loc[:,non_numeric] = df.loc[:,non_numeric].apply(LabelEncoder().fit_transform)
df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills
0,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,2,4,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...
1,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,16,1,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping
2,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,5,5,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything
3,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,22,1,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...
4,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,Half-Human/Half-Giant,Part-Human (Half-giant),2,0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...

Apliquem un KKN per trobar la característica **Eye colour** dels personatges que no la tenen.

In [1527]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df['Eye colour'] = imputer.fit_transform(df[['Gender', 'Hair colour']])

A la categoria Species, hem borrat els parèntesis explicatius que hi ha a alguns personatges que són Human.

In [1528]:
# Eliminem espai del final
df['Species'] = df['Species'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Species'
df['Species'] = df['Species'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Species'].unique()

array(['Human', 'Half-Human/Half-Giant', 'Werewolf', 'Ghost'],
      dtype=object)

A la característica **Blood status** també apliquem un KKN per trobar les que ens falten.

In [1529]:
numeric_features = df.select_dtypes(np.number).keys()
non_numeric = ['Species']
df.loc[:,non_numeric] = df.loc[:,non_numeric].apply(LabelEncoder().fit_transform)

imputer = KNNImputer(n_neighbors=5)
df['Blood status'] = imputer.fit_transform(df[['Species']])

In [1530]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

nan_columns = df.columns[df.isna().sum()>0].tolist() # columnes que falta 1 o més valors al datset
print('\nNÚMERO DE NANS PER COLUMNA:')
print (df.loc[:,nan_columns].isna().sum()) # número de nans per columna

Columnes amb nans:

Job         4.273504
Patronus    5.128205
Skills      5.128205
dtype: float64

NÚMERO DE NANS PER COLUMNA:
Job         5
Patronus    6
Skills      6
dtype: int64

Característica **Job**

In [1531]:
# Eliminem espai del final
df['Job'] = df['Job'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Species'
df['Job'] = df['Job'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Job'].unique()

# Primer, ignorem les files amb NaNs a la columna 'Job' al contar les feines
df['Job_Count'] = df['Job'].apply(lambda x: len(x.split('|')) if pd.notna(x) else 0)

# Filtrem les files on 'Job_Count' es més gran que 1
multiple_jobs = df[df['Job_Count'] > 1]

# Imprimim els personatges que tenen més d'una feina
print("Personatges amb més d'una feina:")
print(multiple_jobs[['Job', 'Job_Count']])

print("\nEl màxim de feines que te algún dels personatges és de",max(multiple_jobs['Job_Count']))

#df.head()

Personatges amb més d'una feina:
                                                  Job  Job_Count
4   Keeper of Keys and Grounds | Professor of Care...          2
16  Student|Prefect|  Personal assistant to Barty ...          3
29  Professor of Transfiguration | Head of Gryffindor          2
36            Professor of Charms | Head of Ravenclaw          2
45           Professor of Potions | Head of Slytherin          2
50  Professor of Defence Against the Dark Arts | D...          2
81  Professor of Herbology | Head of Hufflepuff House          2
94                        Auror  | Minister for Magic          2
98           Head of Auror Office| Minister for Magic          2

El màxim de feines que te algún dels personatges és de 3

Com que hem vist que el màxim de feines és de 3, crearem 3 columnes addicionals separant les feines de cada personatge. Les columnes que crearem seran:
* Job_1 (per la 1ra feina)
* Job_2 (per la 2na feina)
* Job_3 (per la 3ra feina)

In [1532]:
# Separem les feines en 3 columnes
feines_separades = df['Job'].apply(lambda x: x.split('|') if pd.notna(x) else []).apply(pd.Series)

# Canviem el nom de les columnes
feines_separades.columns = [f'Job_{i+1}' for i in range(feines_separades.shape[1])]

# Afegim les columnes al df
df = pd.concat([df, feines_separades], axis=1)

df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3
0,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,1,Student,NaN,NaN
1,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1,Student,NaN,NaN
2,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,1,Student,NaN,NaN
3,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,1,Headmaster,NaN,NaN
4,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,2,Keeper of Keys and Grounds,Professor of Care of Magical Creatures,NaN

A continuació, agruparem les feines de cada personatge en feines més globals. A més a més, els personatges que tinguin més d'una feina, triarem per a aquests la que és repeteix més vegades d'entre els personatges que tenen només una feina.

In [1533]:
# Creem un diccionari de mapeig per agrupar feines similars
feines_similars = {
    'Professor': ['Professor', 'Defence Against the Dark Arts'],
    'House Ghost': ['House Ghost'],
    'Founder': ['Founder'],
    'School Head' : ['Headmaster', 'Headmistress'],
    'Gringotts' : ['Gringotts'],
    'Hogwarts service' : ['Matron', 'Flying Instructor', 'Astronomer', 'keeper of keys'],
    'Magical Government' : ['Magical', 'Muggle Artefacts'],
    'Death eater' : ['unspeakable', 'voldemort', 'executioner'],
    'Barman' : ['barman'],   
    'Quidditch' : ['quidditch'],
    'Head of House' : ['head'],
    'Personal Assistant' : ['Personal assistant']              
}

def agrupar_feina(feina):
    # Ens assegurem que les paraules estiguin en minuscules i sense espais addicionals
    feina = feina.strip().lower()
    
    for categoria, similares in feines_similars.items():
        # Comparem la feina amb les paraules de la llista
        llista = [item.strip().lower() for item in similares]
        paraules_dividides = []
        for paraula in llista:
            paraula_separada = paraula.split(' ')
            paraules_dividides.append(' '.join(paraula_separada))
        for i in paraules_dividides:
             if i in feina:
                return categoria.lower()
    return feina

# Filtrem els personatges que tenen 1, 2 o 3 feines
df_job_1 = df[df['Job_Count'] == 1]
df_job_2 = df[df['Job_Count'] == 2]
df_job_3 = df[df['Job_Count'] == 3]

# Ens guardem també els personatges que no tenen cap feina
df_sense_job = df[df['Job_Count'] == 0]

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_1'
df_job_1['Job_1_Agrupat'] = df_job_1['Job_1'].apply(agrupar_feina)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_2'
df_job_2['Job_1_Agrupat'] = df_job_2['Job_1'].apply(agrupar_feina)
df_job_2['Job_2_Agrupat'] = df_job_2['Job_2'].apply(agrupar_feina)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_3'
df_job_3['Job_1_Agrupat'] = df_job_3['Job_1'].apply(agrupar_feina)
df_job_3['Job_2_Agrupat'] = df_job_3['Job_2'].apply(agrupar_feina)
df_job_3['Job_3_Agrupat'] = df_job_3['Job_3'].apply(agrupar_feina)

# Contem quantes vegades és repeteixen les feines de la columna 'Job_1'
feines_repetides_job_1 = df_job_1['Job_1_Agrupat'].value_counts()

# Imprimim les feines i quantes vegeades és repeteixen
print("Feines repetides Job_1:\n")
print(feines_repetides_job_1)

# Concatenem tots els datasets
df_tot = pd.concat([df_sense_job, df_job_1, df_job_2, df_job_3], ignore_index=True, sort=False)

# Ordenem el dataset respecte Id
df_tot = df_tot.sort_values(by='Id')

df_tot.head()

Feines repetides Job_1:

Job_1_Agrupat
student               53
professor              9
auror                  7
death eater            7
magical government     4
house ghost            4
founder                4
hogwarts service       3
school head            2
gringotts              2
housewife              2
dragonologist          1
school governor        1
wandmaker              1
minister for magic     1
barman                 1
quidditch              1
Name: count, dtype: int64

C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_1['Job_1_Agrupat'] = df_job_1['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_2['Job_1_Agrupat'] = df_job_2['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_2['Job_2_Agrupat'] = df_job_2['Job_2'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_1_Agrupat'] = df_job_3['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_2_Agrupat'] = df_job_3['Job_2'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\531071686.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_3_Agrupat'] = df_job_3['Job_3'].apply(agrupar_feina)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3,Job_1_Agrupat,Job_2_Agrupat,Job_3_Agrupat
5,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,1,Student,NaN,NaN,student,NaN,NaN
6,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1,Student,NaN,NaN,student,NaN,NaN
7,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,1,Student,NaN,NaN,student,NaN,NaN
8,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,1,Headmaster,NaN,NaN,school head,NaN,NaN
108,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,2,Keeper of Keys and Grounds,Professor of Care of Magical Creatures,NaN,hogwarts service,professor,NaN

Respecte als personatges que tenen més d'una feina, mirarem quina d'aquestes està més repetida i li assignarem aquesta.

In [1534]:
# Creem un diccionari amb els valors de repetició de cada 'Job_1'
dict = df_job_1['Job_1_Agrupat'].value_counts().to_dict()

# Funció per assignar la feina que és repeteix més vegades
def feina_frequent(fila):
    jobs = [fila['Job_1_Agrupat'], fila.get('Job_2_Agrupat'), fila.get('Job_3_Agrupat')]
    jobs = [job for job in jobs if job]  # Eliminem les feines nul·les
    feina_mes_frequent = max(jobs, key=lambda job: dict.get(job, 0))
    return feina_mes_frequent

# Assignem la feina als personatges que només en tenen 1
df_job_1['Job_Final'] = df_job_1['Job_1_Agrupat']

# Assignem la feina més freqüent als personatges amb 2 o 3 feines
df_job_2['Job_Final'] = df_job_2.apply(feina_frequent, axis=1)
df_job_3['Job_Final'] = df_job_3.apply(feina_frequent, axis=1)

# Concatenem tots els datasets (afegim també els personatges que no tenen cap feina)
df_tot = pd.concat([df_sense_job, df_job_1, df_job_2, df_job_3], ignore_index=True, sort=False)

# Ordenem el dataset respecte Id
df_tot = df_tot.sort_values(by='Id')

# Assignem els valors de Job_Final a Job
df_tot['Job'] = df_tot['Job_Final']

# Eliminem les columnes que ja no necessitem
df = df_tot.drop(columns=['Job_1', 'Job_2', 'Job_3', 'Job_1_Agrupat', 'Job_2_Agrupat', 'Job_3_Agrupat', 'Job_Final', 'Job_Count'])

df.head()

C:\Users\helen\AppData\Local\Temp\ipykernel_9972\2209735659.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_1['Job_Final'] = df_job_1['Job_1_Agrupat']
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\2209735659.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_2['Job_Final'] = df_job_2.apply(feina_frequent, axis=1)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\2209735659.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_Final'] = df_job_3.apply(feina_frequent, axis=1)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills
5,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...
6,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping
7,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything
8,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...
108,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...

In [1535]:
# Eliminem espai del final
df['Skills'] = df['Skills'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Skills'
df['Skills'] = df['Skills'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Skills'].unique()

# Primer, ignorem les files amb NaNs a la columna 'Skills' al contar les feines
df['Skills_Count'] = df['Skills'].apply(
    lambda x: len(x.split('|')) if isinstance(x, str) and '|' in x else 
            (len(x.split(',')) if isinstance(x, str) and ',' in x else 
            1 if isinstance(x, str) else 0)
)

# Filtrem les files on 'Skills_Count' es més gran que 1
multiple_jobs = df[df['Skills_Count'] > 1]

# Imprimim els personatges que tenen més d'una feina
print("Personatges amb més d'una feina:")
print(multiple_jobs[['Skills', 'Skills_Count']])

print("\nEl màxim de Skills que te algún dels personatges és de",max(multiple_jobs['Skills_Count']))

Personatges amb més d'una feina:
                                                Skills  Skills_Count
5    Parseltongue| Defence Against the Dark Arts | ...             3
6                 Wizard chess | Quidditch goalkeeping             2
108  Resistant to stunning spells| above average st...             3
12                               Chaser| Bat-Bogey hex             2
16                                    Animagus| Seeker             2
17                   Animagus| nonverbal magic| Charms             3
116         Intelligent| hard-working| a model student             3
20   Highly skilled curse-breaker for Gringotts Wiz...             3
21   Highly skilled dragon trainer| one-time Gryffi...             2
22                 Quidditch commentary | broadcasting             2
23   Keeper|  Captain of the Gryffindor Quidditch team             2
32                     Household spells| healing magic             2
34   Learned in the theory of Defensive Magic| less...             2
44             Potions, also knowledgable about Charms             2
46                                     Prefect, Seeker             2
50   Accomplished Occlumens, expert Potioneer, adva...             3
56   Dark Lord, Outstanding manipulation, Parselton...             6
60                           Quidditch captain, Chaser             2
62                                     Chaser, Captain             2
64                           Quidditch Captain, Chaser             2
68   Extremely skilled witch, known for her intelli...             2
76                      Talented Auror, Metamorphmagus             2
77                        Magizoology, Order of Merlin             2
82                           Revising, being a Prefect             2
87                     Imperius curse, undercover work             2
93                       Bartending, caring for Ariana             2
102                    Transfiguration, Quidditch star             2
105     Teaching, flying, refereeing Quidditch matches             3

El màxim de Skills que te algún dels personatges és de 6

In [1536]:
# Separem les feines en 3 columnes
import re

# Dividimos la columna `Skills` usando los separadores `|` y `,`
skills_separades = df['Skills'].apply(
    lambda x: re.split(r'[|,]', x) if pd.notna(x) else []
).apply(pd.Series)

# Canviem el nom de les columnes
skills_separades.columns = [f'Skill_{i+1}' for i in range(skills_separades.shape[1])]

# Afegim les columnes al df
df = pd.concat([df, skills_separades], axis=1)

df.head(100)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Skills_Count,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6
5,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,3,Parseltongue,Defence Against the Dark Arts,Seeker,NaN,NaN,NaN
6,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,2,Wizard chess,Quidditch goalkeeping,NaN,NaN,NaN,NaN
7,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,1,Almost everything,NaN,NaN,NaN,NaN,NaN
8,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,1,Considered by many to be one of the most power...,NaN,NaN,NaN,NaN,NaN
108,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,3,Resistant to stunning spells,above average strength,crossbowmanship,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,102,Amos Diggory,1,magical government,Hufflepuff,Unknown,Non-corporeal,2,2.0,5,1.0,Minister of Magic,Works for the Department for the Regulation an...,1,Works for the Department for the Regulation an...,NaN,NaN,NaN,NaN,NaN
92,105,Fleur Isabelle Delacour,0,gringotts,Beauxbatons Academy of Magic,"9½"", Rosewood, veela hair",Non-corporeal,2,2.0,21,0.0,Order of the Phoenix,part Veela and therefore possesses some of the...,1,part Veela and therefore possesses some of the...,NaN,NaN,NaN,NaN,NaN
93,106,Aberforth Dumbledore,1,barman,Gryffindor,Unknown,Goat,2,2.0,10,1.0,Order of the Phoenix,"Bartending, caring for Ariana",2,Bartending,caring for Ariana,NaN,NaN,NaN,NaN
94,110,Marlene McKinnon,0,auror,Gryffindor,Unknown,Unknown,2,2.0,16,0.0,Original Order of the Phoenix,Auror,1,Auror,NaN,NaN,NaN,NaN,NaN
0,111,Fabian Prewett,1,NaN,Gryffindor,Unknown,Unknown,2,2.0,16,1.0,Original Order of the Phoenix,Duelling,1,Duelling,NaN,NaN,NaN,NaN,NaN

In [1537]:
# Creem un diccionari de mapeig per agrupar feines similars
skills_similars = {
    'prefect': ['prefect', 'head boy'],
    'Duel': ['skilled duellist', 'duelling', 'duellist', 'combat'],
    'divination': ['divination', 'seer'],
    'Charms': ['charms', 'hex', 'spells', 'transfiguration', 'defensive magic', 'occlumens'],
    'Mail': ['propaganda'],
    'Heal': ['curing', 'medical', 'healing'],
    'Potions': ['potioneer', 'potions'],
    'auror': ['auror'],
    'magical creatures': ['magical creatures', 'giants','nargles', 'Magizoology'],
    'parsel': ['parsel', 'parselmouths'],
    'great wizard': ['powerful', 'great wizard'],
    'dark arts': ['curse', 'dark', 'voldemort', 'punishment', 'betraying', 'undercover', 'manipulation', 'heir of slytherin', 'inferi'],
    'veela': ['veela'],
    'wand': ['wandcraft'],
    'Quidditch' : ['chaser', 'seeker', 'beater', 'keeper', 'quidditch', 'captain', 'flying'],
    'wisdom': ['intelligence', 'everything', 'wisdom', 'model student', 'intelligent', 'skilled', 'revising'],
    'dancer': ['dancer'],
    'no skills': ['less', 'above average'],
    'professor': ['teaching', 'professor'],
    'other' : ['peeves', 'love potion', 'caring'],
    'order': ['order']    
}

def agrupar_skill(skill):
    # Ens assegurem que les paraules estiguin en minuscules i sense espais addicionals
    skill = skill.strip().lower()
    
    for categoria, similares in skills_similars.items():
        # Comparem la skill amb les paraules de la llista
        llista = [item.strip().lower() for item in similares]
        paraules_dividides = []
        for paraula in llista:
            paraula_separada = paraula.split(' ')
            paraules_dividides.append(' '.join(paraula_separada))
        for i in paraules_dividides:
            if i in skill:
                return categoria.lower()
    return skill

# Filtrem els personatges que tenen 1, 2 o 3 feines
df_skill_1 = df[df['Skills_Count'] == 1]
df_skill_2 = df[df['Skills_Count'] == 2]
df_skill_3 = df[df['Skills_Count'] == 3]
df_skill_4 = df[df['Skills_Count'] == 4]
df_skill_5 = df[df['Skills_Count'] == 5]
df_skill_6 = df[df['Skills_Count'] == 6]

# Ens guardem també els personatges que no tenen cap feina
df_sense_skill = df[df['Skills_Count'] == 0]

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_1'
df_skill_1['Skill_1_Agrupat'] = df_skill_1['Skill_1'].apply(agrupar_skill)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_2'
df_skill_2['Skill_1_Agrupat'] = df_skill_2['Skill_1'].apply(agrupar_skill)
df_skill_2['Skill_2_Agrupat'] = df_skill_2['Skill_2'].apply(agrupar_skill)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_3'
df_skill_3['Skill_1_Agrupat'] = df_skill_3['Skill_1'].apply(agrupar_skill)
df_skill_3['Skill_2_Agrupat'] = df_skill_3['Skill_2'].apply(agrupar_skill)
df_skill_3['Skill_3_Agrupat'] = df_skill_3['Skill_3'].apply(agrupar_skill)

df_skill_4['Skill_1_Agrupat'] = df_skill_4['Skill_1'].apply(agrupar_skill)
df_skill_4['Skill_2_Agrupat'] = df_skill_4['Skill_2'].apply(agrupar_skill)
df_skill_4['Skill_3_Agrupat'] = df_skill_4['Skill_3'].apply(agrupar_skill)
df_skill_4['Skill_4_Agrupat'] = df_skill_4['Skill_4'].apply(agrupar_skill)

df_skill_5['Skill_1_Agrupat'] = df_skill_5['Skill_1'].apply(agrupar_skill)
df_skill_5['Skill_2_Agrupat'] = df_skill_5['Skill_2'].apply(agrupar_skill)
df_skill_5['Skill_3_Agrupat'] = df_skill_5['Skill_3'].apply(agrupar_skill)
df_skill_5['Skill_4_Agrupat'] = df_skill_5['Skill_4'].apply(agrupar_skill)
df_skill_5['Skill_5_Agrupat'] = df_skill_5['Skill_5'].apply(agrupar_skill)

df_skill_6['Skill_1_Agrupat'] = df_skill_6['Skill_1'].apply(agrupar_skill)
df_skill_6['Skill_2_Agrupat'] = df_skill_6['Skill_2'].apply(agrupar_skill)
df_skill_6['Skill_3_Agrupat'] = df_skill_6['Skill_3'].apply(agrupar_skill)
df_skill_6['Skill_4_Agrupat'] = df_skill_6['Skill_4'].apply(agrupar_skill)
df_skill_6['Skill_5_Agrupat'] = df_skill_6['Skill_5'].apply(agrupar_skill)
df_skill_6['Skill_6_Agrupat'] = df_skill_6['Skill_6'].apply(agrupar_skill)

# Contem quantes vegades és repeteixen les feines de la columna 'Job_1'
skills_repetides_skill_1 = df_skill_1['Skill_1_Agrupat'].value_counts()

# Imprimim les feines i quantes vegeades és repeteixen
print("Feines repetides Job_1:\n")
print(skills_repetides_skill_1)

# Concatenem tots els datasets
df_tot = pd.concat([df_sense_skill, df_skill_1, df_skill_2, df_skill_3, df_skill_4, df_skill_5, df_skill_6], ignore_index=True, sort=False)

# Ordenem el dataset respecte Id
df_tot = df_tot.sort_values(by='Id')

df_tot.head(108)

C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_1['Skill_1_Agrupat'] = df_skill_1['Skill_1'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_2['Skill_1_Agrupat'] = df_skill_2['Skill_1'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_2['Skill_2_Agrupat'] = df_skill_2['Skill_2'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_3['Skill_1_Agrupat'] = df_skill_3['Skill_1'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_3['Skill_2_Agrupat'] = df_skill_3['Skill_2'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_3['Skill_3_Agrupat'] = df_skill_3['Skill_3'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_1_Agrupat'] = df_skill_6['Skill_1'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_2_Agrupat'] = df_skill_6['Skill_2'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_3_Agrupat'] = df_skill_6['Skill_3'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_4_Agrupat'] = df_skill_6['Skill_4'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_5_Agrupat'] = df_skill_6['Skill_5'].apply(agrupar_skill)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3865827766.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_6_Agrupat'] = df_skill_6['Skill_6'].apply(agrupar_skill)

Feines repetides Job_1:

Skill_1_Agrupat
quidditch             16
duel                   9
charms                 8
dark arts              7
potions                5
prefect                4
magical creatures      4
auror                  4
divination             3
herbology              3
other                  2
great wizard           2
animagus               2
heal                   2
veela                  2
pyrotechnics           1
wisdom                 1
wand                   1
muggle world works     1
photography            1
mail                   1
parsel                 1
dancer                 1
metamorphmagus         1
astronomy              1
Name: count, dtype: int64

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,...,Skill_3,Skill_4,Skill_5,Skill_6,Skill_1_Agrupat,Skill_2_Agrupat,Skill_3_Agrupat,Skill_4_Agrupat,Skill_5_Agrupat,Skill_6_Agrupat
109,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,...,Seeker,NaN,NaN,NaN,parsel,dark arts,quidditch,NaN,NaN,NaN
89,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,...,NaN,NaN,NaN,NaN,wizard chess,quidditch,NaN,NaN,NaN,NaN
6,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,...,NaN,NaN,NaN,NaN,wisdom,NaN,NaN,NaN,NaN,NaN
7,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,...,NaN,NaN,NaN,NaN,great wizard,NaN,NaN,NaN,NaN,NaN
110,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,...,crossbowmanship,NaN,NaN,NaN,charms,no skills,crossbowmanship,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,117,Madame Olympe Maxime,0,school head,Beauxbatons Academy of Magic,Unknown,Unknown,1,1.0,5,...,NaN,NaN,NaN,NaN,dancer,NaN,NaN,NaN,NaN,NaN
79,118,Gabrielle Delacour,0,student,Beauxbatons Academy of Magic,Unknown,Unknown,2,2.0,21,...,NaN,NaN,NaN,NaN,veela,NaN,NaN,NaN,NaN,NaN
80,119,Viktor Krum,1,quidditch,Durmstrang Institute,"10¼"", Hornbeam, dragon heartstring",Unknown,2,2.0,8,...,NaN,NaN,NaN,NaN,quidditch,NaN,NaN,NaN,NaN,NaN
5,124,Dennis Creevey,1,student,Gryffindor,Unknown,Unknown,2,2.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,125,Albus Severus Potter,1,student,Slytherin,Unknown,Unknown,2,2.0,12,...,NaN,NaN,NaN,NaN,charms,NaN,NaN,NaN,NaN,NaN

In [1538]:
# Creem un diccionari amb els valors de repetició de cada 'Job_1'
dict = df_skill_1['Skill_1_Agrupat'].value_counts().to_dict()

# Funció per assignar la feina que és repeteix més vegades
def skill_frequent(fila):
    skills = [fila['Skill_1_Agrupat'], fila.get('Skill_2_Agrupat'), fila.get('Skill_3_Agrupat'), fila.get('Skill_4_Agrupat'), fila.get('Skill_5_Agrupat'), fila.get('Skill_6_Agrupat')]
    skills = [skill for skill in skills if skill]  # Eliminem les feines nul·les
    skill_mes_frequent = max(skills, key=lambda skill: dict.get(skill, 0))
    return skill_mes_frequent

# Assignem la feina als personatges que només en tenen 1
df_skill_1['Skill_Final'] = df_skill_1['Skill_1_Agrupat']

# Assignem la feina més freqüent als personatges amb 2 o 3 feines
df_skill_2['Skill_Final'] = df_skill_2.apply(skill_frequent, axis=1)
df_skill_3['Skill_Final'] = df_skill_3.apply(skill_frequent, axis=1)
df_skill_4['Skill_Final'] = df_skill_4.apply(skill_frequent, axis=1)
df_skill_5['Skill_Final'] = df_skill_5.apply(skill_frequent, axis=1)
df_skill_6['Skill_Final'] = df_skill_6.apply(skill_frequent, axis=1)

# Concatenem tots els datasets (afegim també els personatges que no tenen cap feina)
df_tot = pd.concat([df_sense_skill, df_skill_1, df_skill_2, df_skill_3, df_skill_4, df_skill_5, df_skill_6], ignore_index=True, sort=False)

# Ordenem el dataset respecte Id
df_tot = df_tot.sort_values(by='Id')

# Assignem els valors de Job_Final a Job
df_tot['Skills'] = df_tot['Skill_Final']

# Eliminem les columnes que ja no necessitem
df = df_tot.drop(columns=['Skill_1', 'Skill_2', 'Skill_3', 'Skill_4', 'Skill_5', 'Skill_6', 'Skill_1_Agrupat', 'Skill_2_Agrupat', 'Skill_3_Agrupat', 'Skill_4_Agrupat', 'Skill_5_Agrupat', 'Skill_6_Agrupat', 'Skill_Final', 'Skills_Count'])

df.head()

C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3374169850.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_1['Skill_Final'] = df_skill_1['Skill_1_Agrupat']
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3374169850.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_2['Skill_Final'] = df_skill_2.apply(skill_frequent, axis=1)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3374169850.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_3['Skill_Final'] = df_skill_3.apply(skill_frequent, axis=1)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\3374169850.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_skill_6['Skill_Final'] = df_skill_6.apply(skill_frequent, axis=1)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills
109,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,quidditch
89,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,quidditch
6,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,wisdom
7,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,great wizard
110,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,charms

In [1539]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

nan_columns = df.columns[df.isna().sum()>0].tolist() # columnes que falta 1 o més valors al datset
print('\nNÚMERO DE NANS PER COLUMNA:')
print (df.loc[:,nan_columns].isna().sum()) # número de nans per columna

Columnes amb nans:

Job         4.273504
Patronus    5.128205
Skills      5.128205
dtype: float64

NÚMERO DE NANS PER COLUMNA:
Job         5
Patronus    6
Skills      6
dtype: int64

In [1540]:
# Eliminem espai del final
df['Loyalty'] = df['Loyalty'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Species'
df['Loyalty'] = df['Loyalty'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Loyalty'].unique()

# Primer, ignorem les files amb NaNs a la columna 'Job' al contar les feines
df['Loyalty_Count'] = df['Loyalty'].apply(lambda x: len(x.split('|')) if pd.notna(x) else 0)

# Filtrem les files on 'Job_Count' es més gran que 1
multiple_loyalty = df[df['Loyalty_Count'] > 1]

# Imprimim els personatges que tenen més d'una feina
print("Personatges amb més d'una lleialtat:")
print(multiple_loyalty[['Loyalty', 'Loyalty_Count']])

print("\nEl màxim de lleialtat que te algún dels personatges és de",max(multiple_loyalty['Loyalty_Count']))

#df.head()

Personatges amb més d'una lleialtat:
                                               Loyalty  Loyalty_Count
109  Albus Dumbledore | Dumbledore's Army | Order o...              4
89   Dumbledore's Army | Order of the Phoenix | Hog...              3
6    Dumbledore's Army | Order of the Phoenix | Hog...              3
7    Dumbledore's Army | Order of the Phoenix | Hog...              3
110  Albus Dumbledore | Order of the Phoenix | Hogw...              3
8    Dumbledore's Army | Order of the Phoenix | Hog...              3
9    Dumbledore's Army | Order of the Phoenix | Hog...              3
10   Dumbledore's Army | Order of the Phoenix | Hog...              3
90   Dumbledore's Army | Order of the Phoenix | Hog...              3
11   Dumbledore's Army | Hogwarts School of Witchcr...              2
12   Dumbledore's Army | Hogwarts School of Witchcr...              2
15                        Lord Voldemort| Death Eaters              2
112  Order of the Phoenix| Hogwarts School of Witch...              3
92     Order of the Phoenix | Gringotts Wizarding Bank              2
93   Dumbledore's Army | Order of the Phoenix | Hog...              3
16   Dumbledore's Army |Hogwarts School of Witchcra...              2
17   Dumbledore's Army |Hogwarts School of Witchcra...              2
18   Dumbledore's Army |Hogwarts School of Witchcra...              2
19   Dumbledore's Army |Hogwarts School of Witchcra...              2
20   Dumbledore's Army |Hogwarts School of Witchcra...              2
21   Dumbledore's Army |Hogwarts School of Witchcra...              2
22   Dumbledore's Army |Hogwarts School of Witchcra...              2
23   Dumbledore's Army |Hogwarts School of Witchcra...              2
24   Albus Dumbledore | Order of the Phoenix | Hogw...              3
25     Order of the Phoenix| British Ministry of Magic              2
26   Dumbledore's Army |Hogwarts School of Witchcra...              2
27   Dumbledore's Army |Hogwarts School of Witchcra...              2
28   Albus Dumbledore |Hogwarts School of Witchcraf...              2
29   Albus Dumbledore |Hogwarts School of Witchcraf...              2
31   Dumbledore's Army |Hogwarts School of Witchcra...              2
32   Dumbledore's Army |Hogwarts School of Witchcra...              2
97   Dumbledore's Army |Hogwarts School of Witchcra...              2
34   Dumbledore's Army |Hogwarts School of Witchcra...              2
36   Ministry of Magic | Lord Voldemort | Death Eaters              3
37                      Lord Voldemort  | Death Eaters              2
38                      Lord Voldemort  | Death Eaters              2
114  Albus Dumbledore |Hogwarts School of Witchcraf...              2
40                      Lord Voldemort  | Death Eaters              2
41                      Lord Voldemort  | Death Eaters              2
42             Lord Voldemort  | Death Eaters | Family              3
43                      Lord Voldemort  | Death Eaters              2
44                      Lord Voldemort  | Death Eaters              2
116                     Lord Voldemort  | Death Eaters              2
45                      Lord Voldemort  | Death Eaters              2
46                      Lord Voldemort  | Death Eaters              2
53                      Lord Voldemort  | Death Eaters              2
54                      Lord Voldemort  | Death Eaters              2
55                      Lord Voldemort  | Death Eaters              2
103           Ministry of Magic | Order of the Phoenix              2
58   Dumbledore's Army | Hogwarts School of Witchcr...              3
104  Albus Dumbledore | Hogwarts School of Witchcra...              3
64                      Lord Voldemort  | Death Eaters              2
65                      Lord Voldemort  | Death Eaters              2
66                      Lord Voldemort  | Death Eaters              2
106                     Lord Voldemort  | Death Eaters              2
83   Hogwarts School of Witchcraft and Wizardry | F...              2
108  Hogwarts School of Witchcraft and Wizardry | F...              2
84   Hogwarts School of Witchcraft and Wizardry | F...              2
88                      Lord Voldemort  | Death Eaters              2

El màxim de lleialtat que te algún dels personatges és de 4

In [1541]:
# Separem les feines en 3 columnes
loyalty_separades = df['Loyalty'].apply(lambda x: x.split('|') if pd.notna(x) else []).apply(pd.Series)

# Canviem el nom de les columnes
loyalty_separades.columns = [f'Loyalty_{i+1}' for i in range(loyalty_separades.shape[1])]

# Afegim les columnes al df
df = pd.concat([df, loyalty_separades], axis=1)

df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Loyalty_Count,Loyalty_1,Loyalty_2,Loyalty_3,Loyalty_4
109,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,quidditch,4,Albus Dumbledore,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry
89,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,quidditch,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN
6,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,wisdom,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN
7,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,great wizard,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN
110,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,charms,3,Albus Dumbledore,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN

In [1542]:
# Creem un diccionari de mapeig per agrupar feines similars
loyalty_similars = {
    'hogwarts school': ['hogwarts school'],
    'order of the phoenix': ['order'],
    'ministry': ['ministry', 'minister'],
    'lord voldemort': ['lord voldemort', 'inquisitorial', 'death'],
    'other schools': ['beauxbatons', 'durmstrang'],
    'gringotts': ['gringotts'],
    'dumbledore army': ['army']
}

def agrupar_loyalty(loyalty):
    # Ens assegurem que les paraules estiguin en minuscules i sense espais addicionals
    loyalty = loyalty.strip().lower()
    
    for categoria, similares in loyalty_similars.items():
        # Comparem la feina amb les paraules de la llista
        llista = [item.strip().lower() for item in similares]
        paraules_dividides = []
        for paraula in llista:
            paraula_separada = paraula.split(' ')
            paraules_dividides.append(' '.join(paraula_separada))
        for i in paraules_dividides:
             if i in loyalty:
                return categoria.lower()
    return loyalty

# Filtrem els personatges que tenen 1, 2 o 3 feines
df_loyalty_1 = df[df['Loyalty_Count'] == 1]
df_loyalty_2 = df[df['Loyalty_Count'] == 2]
df_loyalty_3 = df[df['Loyalty_Count'] == 3]
df_loyalty_4 = df[df['Loyalty_Count'] == 4]

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_1'
df_loyalty_1['Loyalty_1_Agrupat'] = df_loyalty_1['Loyalty_1'].apply(agrupar_loyalty)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_2'
df_loyalty_2['Loyalty_1_Agrupat'] = df_loyalty_2['Loyalty_1'].apply(agrupar_loyalty)
df_loyalty_2['Loyalty_2_Agrupat'] = df_loyalty_2['Loyalty_2'].apply(agrupar_loyalty)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_3'
df_loyalty_3['Loyalty_1_Agrupat'] = df_loyalty_3['Loyalty_1'].apply(agrupar_loyalty)
df_loyalty_3['Loyalty_2_Agrupat'] = df_loyalty_3['Loyalty_2'].apply(agrupar_loyalty)
df_loyalty_3['Loyalty_3_Agrupat'] = df_loyalty_3['Loyalty_3'].apply(agrupar_loyalty)

df_loyalty_4['Loyalty_1_Agrupat'] = df_loyalty_4['Loyalty_1'].apply(agrupar_loyalty)
df_loyalty_4['Loyalty_2_Agrupat'] = df_loyalty_4['Loyalty_2'].apply(agrupar_loyalty)
df_loyalty_4['Loyalty_3_Agrupat'] = df_loyalty_4['Loyalty_3'].apply(agrupar_loyalty)
df_loyalty_4['Loyalty_4_Agrupat'] = df_loyalty_4['Loyalty_4'].apply(agrupar_loyalty)

# Contem quantes vegades és repeteixen les feines de la columna 'Job_1'
loyalty_repetides_loyalty_1 = df_loyalty_1['Loyalty_1_Agrupat'].value_counts()

# Imprimim les feines i quantes vegeades és repeteixen
print("Feines repetides Job_1:\n")
print(loyalty_repetides_loyalty_1)

# Concatenem tots els datasets
df_tot = pd.concat([df_loyalty_1, df_loyalty_2, df_loyalty_3, df_loyalty_4], ignore_index=True, sort=False)

# Ordenem el dataset respecte Id
df_tot = df_tot.sort_values(by='Id')

df_tot.head()

Feines repetides Job_1:

Loyalty_1_Agrupat
hogwarts school         19
order of the phoenix    16
dumbledore army          6
ministry                 5
lord voldemort           4
albus dumbledore         3
other schools            3
family                   2
Name: count, dtype: int64

C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_1['Loyalty_1_Agrupat'] = df_loyalty_1['Loyalty_1'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_2['Loyalty_1_Agrupat'] = df_loyalty_2['Loyalty_1'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_2['Loyalty_2_Agrupat'] = df_loyalty_2['Loyalty_2'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_3['Loyalty_1_Agrupat'] = df_loyalty_3['Loyalty_1'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_3['Loyalty_2_Agrupat'] = df_loyalty_3['Loyalty_2'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_3['Loyalty_3_Agrupat'] = df_loyalty_3['Loyalty_3'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_4['Loyalty_1_Agrupat'] = df_loyalty_4['Loyalty_1'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_4['Loyalty_2_Agrupat'] = df_loyalty_4['Loyalty_2'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_4['Loyalty_3_Agrupat'] = df_loyalty_4['Loyalty_3'].apply(agrupar_loyalty)
C:\Users\helen\AppData\Local\Temp\ipykernel_9972\1903295440.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loyalty_4['Loyalty_4_Agrupat'] = df_loyalty_4['Loyalty_4'].apply(agrupar_loyalty)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,...,Skills,Loyalty_Count,Loyalty_1,Loyalty_2,Loyalty_3,Loyalty_4,Loyalty_1_Agrupat,Loyalty_2_Agrupat,Loyalty_3_Agrupat,Loyalty_4_Agrupat
116,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,...,quidditch,4,Albus Dumbledore,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,albus dumbledore,dumbledore army,order of the phoenix,hogwarts school
101,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,...,quidditch,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN,dumbledore army,order of the phoenix,hogwarts school,NaN
102,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,...,wisdom,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN,dumbledore army,order of the phoenix,hogwarts school,NaN
103,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,...,great wizard,3,Dumbledore's Army,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN,dumbledore army,order of the phoenix,hogwarts school,NaN
104,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,...,charms,3,Albus Dumbledore,Order of the Phoenix,Hogwarts School of Witchcraft and Wizardry,NaN,albus dumbledore,order of the phoenix,hogwarts school,NaN

In [1543]:
# Combina totes les columnes en una única sèrie
totes_les_loyalties = pd.concat([
    df_tot['Loyalty_1_Agrupat'],
    df_tot['Loyalty_2_Agrupat'],
    df_tot['Loyalty_3_Agrupat'],
    df_tot['Loyalty_4_Agrupat']
], ignore_index=True)

# Elimina valors nuls (NaN) per evitar comptar-los
totes_les_loyalties = totes_les_loyalties.dropna()

# Compta els valors únics
valors_diferents_loyalty = totes_les_loyalties.nunique()
print(f"Nombre de valors diferents de loyalty: {valors_diferents_loyalty}")

Nombre de valors diferents de loyalty: 9

In [1544]:
# Combinar totes les columnes Loyalty en una única sèrie i trobar valors únics
columnes_loyalty = [f'Loyalty_{i}_Agrupat' for i in range(1, 5)]
totes_les_loyalties = pd.concat([df_tot[col] for col in columnes_loyalty], ignore_index=True).dropna()
valors_unics_loyalty = totes_les_loyalties.unique()

# Crear una columna per cada valor únic de lleialtat
for valor in valors_unics_loyalty:
    df_tot[valor] = df_tot[columnes_loyalty].apply(lambda row: int(valor in row.values), axis=1)

# Eliminem les columnes que ja no necessitem
df = df_tot.drop(columns=['Loyalty_1', 'Loyalty_2', 'Loyalty_3', 'Loyalty_4', 'Loyalty_1_Agrupat', 'Loyalty_2_Agrupat', 'Loyalty_3_Agrupat', 'Loyalty_4_Agrupat', 'Loyalty_Count', 'Loyalty'])

df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,...,Skills,albus dumbledore,dumbledore army,order of the phoenix,lord voldemort,hogwarts school,ministry,family,other schools,gringotts
116,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,...,quidditch,1,1,1,0,1,0,0,0,0
101,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,...,quidditch,0,1,1,0,1,0,0,0,0
102,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,...,wisdom,0,1,1,0,1,0,0,0,0
103,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,...,great wizard,0,1,1,0,1,0,0,0,0
104,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,...,charms,1,0,1,0,1,0,0,0,0

In [1545]:
# Seleccionar les columnes per fer la imputació
columnes_predictives = ['Skills', 'albus dumbledore', 'dumbledore army', 'order of the phoenix',
                        'lord voldemort', 'hogwarts school', 'ministry', 'family',
                        'other schools', 'gringotts']

# Filtrar només les columnes necessàries
df_subset = df[columnes_predictives]

numeric_features = df_subset.select_dtypes(np.number).keys()
non_numeric = ['Skills']
df_subset.loc[:,non_numeric] = df_subset.loc[:,non_numeric].apply(LabelEncoder().fit_transform)

# Crear i aplicar el KNNImputer
imputer = KNNImputer(n_neighbors=5)  # Pots ajustar el nombre de veïns (k)
df_imputat = pd.DataFrame(imputer.fit_transform(df_subset), columns=columnes_predictives)

# Tornar a convertir 'skills' en categòrica si cal
df_imputat['Skills'] = df_imputat['Skills'].round().astype('int')  # Arrodonim si és una categoria
df_imputat['Skills'] = df_imputat['Skills'].astype('category')

# Assignar la columna imputada al DataFrame original
df['Skills'] = df_imputat['Skills']

# Verificació
df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,...,Skills,albus dumbledore,dumbledore army,order of the phoenix,lord voldemort,hogwarts school,ministry,family,other schools,gringotts
116,1,Harry James Potter,1,student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,...,7,1,1,1,0,1,0,0,0,0
101,2,Ronald Bilius Weasley,1,student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,...,10,0,1,1,0,1,0,0,0,0
102,3,Hermione Jean Granger,0,student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,...,25,0,1,1,0,1,0,0,0,0
103,4,Albus Percival Wulfric Brian Dumbledore,1,school head,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,...,4,0,1,1,0,1,0,0,0,0
104,5,Rubeus Hagrid,1,professor,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,...,22,1,0,1,0,1,0,0,0,0

In [1546]:
imputer = KNNImputer(n_neighbors=5)
df['Job'] = imputer.fit_transform(df[['Skills']])

df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,...,Skills,albus dumbledore,dumbledore army,order of the phoenix,lord voldemort,hogwarts school,ministry,family,other schools,gringotts
116,1,Harry James Potter,1,7.0,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,...,7,1,1,1,0,1,0,0,0,0
101,2,Ronald Bilius Weasley,1,10.0,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,...,10,0,1,1,0,1,0,0,0,0
102,3,Hermione Jean Granger,0,25.0,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,...,25,0,1,1,0,1,0,0,0,0
103,4,Albus Percival Wulfric Brian Dumbledore,1,4.0,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,...,4,0,1,1,0,1,0,0,0,0
104,5,Rubeus Hagrid,1,22.0,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,...,22,1,0,1,0,1,0,0,0,0

In [1547]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

nan_columns = df.columns[df.isna().sum()>0].tolist() # columnes que falta 1 o més valors al datset
print('\nNÚMERO DE NANS PER COLUMNA:')
print (df.loc[:,nan_columns].isna().sum()) # número de nans per columna

Columnes amb nans:

Patronus    5.128205
dtype: float64

NÚMERO DE NANS PER COLUMNA:
Patronus    6
dtype: int64

Eliminem les característiques de Wand i Patronus, ja que no ens serà útil per la nostra predicció. Ja que molts valors són desconeguts i els coneguts, la majoria d'ells són valors únics. A més, també eliminem les columnes de Id i Name, ja que no ens aporten informació rellevant.

In [1548]:
# Eliminem les columnes que ja no necessitem
df = df.drop(columns=['Id', 'Name', 'Wand', 'Patronus'])

df.head()

,Gender,Job,House,Species,Blood status,Hair colour,Eye colour,Skills,albus dumbledore,dumbledore army,order of the phoenix,lord voldemort,hogwarts school,ministry,family,other schools,gringotts
116,1,7.0,Gryffindor,2,2.0,2,1.0,7,1,1,1,0,1,0,0,0,0
101,1,10.0,Gryffindor,2,2.0,16,1.0,10,0,1,1,0,1,0,0,0,0
102,0,25.0,Gryffindor,2,2.0,5,0.0,25,0,1,1,0,1,0,0,0,0
103,1,4.0,Gryffindor,2,2.0,22,1.0,4,0,1,1,0,1,0,0,0,0
104,1,22.0,Gryffindor,1,1.0,2,1.0,22,1,0,1,0,1,0,0,0,0

**Normalitzem** les dades. En concret, els atributs **Job**, **Hair colour**, **Eye colour** i **Skills**.

In [1549]:
from sklearn.preprocessing import StandardScaler

numerical_columns=['Job', 'Hair colour', 'Eye colour', 'Skills']
sc = StandardScaler()
train_norm=sc.fit_transform(df.loc[:,numerical_columns])

df[numerical_columns]=train_norm
df.head()

,Gender,Job,House,Species,Blood status,Hair colour,Eye colour,Skills,albus dumbledore,dumbledore army,order of the phoenix,lord voldemort,hogwarts school,ministry,family,other schools,gringotts
116,1,-0.753513,Gryffindor,2,2.0,-0.945276,0.748331,-0.753513,1,1,1,0,1,0,0,0,0
101,1,-0.379949,Gryffindor,2,2.0,0.945276,0.748331,-0.379949,0,1,1,0,1,0,0,0,0
102,0,1.487869,Gryffindor,2,2.0,-0.540158,-1.336306,1.487869,0,1,1,0,1,0,0,0,0
103,1,-1.127077,Gryffindor,2,2.0,1.755513,0.748331,-1.127077,0,1,1,0,1,0,0,0,0
104,1,1.114305,Gryffindor,1,1.0,-0.945276,0.748331,1.114305,1,0,1,0,1,0,0,0,0