# Cas Kaggle

**Nerea de La Torre Veguillas 1669013**

**Helena Boneu Vidal 1673129**

Hem utilitzat el dataset **Harry Potter Dataset**.

In [627]:
import pandas as pd
import numpy as np

Carreguem el **dataset**:

Quan vam observar el datset per primer cop, vem veure que hi havien bastantes característiques dels personatges que no hi eren, per això vem decidir fer una cerca a internet i buscar la informació faltat. Tot i així, no vem poder aconseguir trobar totes les dades necessàries.

In [628]:
df = 'C:\\Users\\helen\\OneDrive\\Documentos\\3r Carrera\\1r semestre\\Aprenentatge Computacional\\Kaggle\\data\\harry-potter-dataset\\Characters.csv'

df = pd.read_csv(df, delimiter=';')
df.head(5)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Birth,Death
0,1,Harry James Potter,Male,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,Black,Bright green,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,31 July 1980,NaN
1,2,Ronald Bilius Weasley,Male,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,Red,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1 March 1980,NaN
2,3,Hermione Jean Granger,Female,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,Brown,Brown,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,"19 September, 1979",NaN
3,4,Albus Percival Wulfric Brian Dumbledore,Male,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,Silver| formerly auburn,Blue,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,Late August 1881,"30 June, 1997"
4,5,Rubeus Hagrid,Male,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,Half-Human/Half-Giant,Part-Human (Half-giant),Black,Black,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,6 December 1928,NaN

In [629]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

Columnes amb nans:

Job              5.000000
House           16.428571
Patronus         5.000000
Blood status     4.285714
Hair colour      0.714286
Eye colour      12.142857
Skills           5.000000
Birth            9.285714
Death           70.000000
dtype: float64

Eliminem les files dels **personatges** que **no** tenen **casa**.

In [630]:
df = df.dropna(subset=['House'])

També veiem que les característiques 'Birth, Death' no són rellevants per a la nostra predicció. Per tant, les podriem eliminar del nostre dataset.

In [631]:
df = df.drop(columns=['Birth', 'Death'])
print(df.keys())

Index(['Id', 'Name', 'Gender', 'Job', 'House', 'Wand', 'Patronus', 'Species',
       'Blood status', 'Hair colour', 'Eye colour', 'Loyalty', 'Skills'],
      dtype='object')

Mirem les **columnes** que tenen **nans**.

In [632]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

Columnes amb nans:

Job              4.273504
Patronus         5.128205
Blood status     1.709402
Eye colour      10.256410
Skills           5.128205
dtype: float64

Haurem de fer **encoding** per les variables categòriques.
* Eye colour
* Hair colour
* Gender

In [633]:
from sklearn.preprocessing import LabelEncoder

numeric_features = df.select_dtypes(np.number).keys()
non_numeric = ['Eye colour', 'Hair colour', 'Gender']
df.loc[:,non_numeric] = df.loc[:,non_numeric].apply(LabelEncoder().fit_transform)
df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills
0,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,Human,Half-blood,2,4,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...
1,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,Human,Pure-blood,16,1,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping
2,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,Human,Muggle-born,5,5,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything
3,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,Human,Half-blood,22,1,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...
4,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,Half-Human/Half-Giant,Part-Human (Half-giant),2,0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...

Apliquem un KKN per trobar la característica **Eye colour** dels personatges que no la tenen.

In [634]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df['Eye colour'] = imputer.fit_transform(df[['Gender', 'Hair colour']])

A la categoria Species, hem borrat els parèntesis explicatius que hi ha a alguns personatges que són Human.

In [635]:
# Eliminem espai del final
df['Species'] = df['Species'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Species'
df['Species'] = df['Species'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Species'].unique()

array(['Human', 'Half-Human/Half-Giant', 'Werewolf', 'Ghost'],
      dtype=object)

A la característica **Blood status** també apliquem un KKN per trobar les que ens falten.

In [636]:
numeric_features = df.select_dtypes(np.number).keys()
non_numeric = ['Species']
df.loc[:,non_numeric] = df.loc[:,non_numeric].apply(LabelEncoder().fit_transform)

imputer = KNNImputer(n_neighbors=5)
df['Blood status'] = imputer.fit_transform(df[['Species']])

In [637]:
print("Columnes amb nans:\n")
nan_columns = df.columns[df.isna().sum()>0].tolist()
print (df.loc[:,nan_columns].isna().sum()/len(df)*100)

nan_columns = df.columns[df.isna().sum()>0].tolist() # columnes que falta 1 o més valors al datset
print('\nNÚMERO DE NANS PER COLUMNA:')
print (df.loc[:,nan_columns].isna().sum()) # número de nans per columna

Columnes amb nans:

Job         4.273504
Patronus    5.128205
Skills      5.128205
dtype: float64

NÚMERO DE NANS PER COLUMNA:
Job         5
Patronus    6
Skills      6
dtype: int64

Característica **Job**

In [638]:
# Eliminem espai del final
df['Job'] = df['Job'].str.strip()

# Eliminem els parèntesis explicatius de la columna 'Species'
df['Job'] = df['Job'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Verifiquem els resultats
df['Job'].unique()

# Primer, ignorem les files amb NaNs a la columna 'Job' al contar les feines
df['Job_Count'] = df['Job'].apply(lambda x: len(x.split('|')) if pd.notna(x) else 0)

# Filtrem les files on 'Job_Count' es més gran que 1
multiple_jobs = df[df['Job_Count'] > 1]

# Imprimim els personatges que tenen més d'una feina
print("Personatges amb més d'una feina:")
print(multiple_jobs[['Job', 'Job_Count']])

print("\nEl màxim de feines que te algún dels personatges és de",max(multiple_jobs['Job_Count']))

#df.head()

Personatges amb més d'una feina:
                                                  Job  Job_Count
4   Keeper of Keys and Grounds | Professor of Care...          2
16  Student|Prefect|  Personal assistant to Barty ...          3
29  Professor of Transfiguration | Head of Gryffindor          2
36            Professor of Charms | Head of Ravenclaw          2
45           Professor of Potions | Head of Slytherin          2
50  Professor of Defence Against the Dark Arts | D...          2
81  Professor of Herbology | Head of Hufflepuff House          2
94                        Auror  | Minister for Magic          2
98           Head of Auror Office| Minister for Magic          2

El màxim de feines que te algún dels personatges és de 3

Com que hem vist que el màxim de feines és de 3, crearem 3 columnes addicionals separant les feines de cada personatge. Les columnes que crearem seran:
* Job_1 (per la 1ra feina)
* Job_2 (per la 2na feina)
* Job_3 (per la 3ra feina)

In [639]:
# Separem les feines en 3 columnes
feines_separades = df['Job'].apply(lambda x: x.split('|') if pd.notna(x) else []).apply(pd.Series)

# Canviem el nom de les columnes
feines_separades.columns = [f'Job_{i+1}' for i in range(feines_separades.shape[1])]

# Afegim les columnes al df
df = pd.concat([df, feines_separades], axis=1)

df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3
0,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,1,Student,NaN,NaN
1,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1,Student,NaN,NaN
2,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,1,Student,NaN,NaN
3,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,1,Headmaster,NaN,NaN
4,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,2,Keeper of Keys and Grounds,Professor of Care of Magical Creatures,NaN

A continuació, agruparem les feines de cada personatge en feines més globals. A més a més, els personatges que tinguin més d'una feina, triarem per a aquests la que és repeteix més vegades d'entre els personatges que tenen només una feina.

In [640]:
# Creem un diccionari de mapeig per agrupar feines similars
feines_similars = {
    'Professor': ['Professor', 'Defence Against the Dark Arts'],
    'House Ghost': ['House Ghost'],
    'Founder': ['Founder'],
    'School Head' : ['Headmaster', 'Headmistress'],
    'Gringotts' : ['Gringotts'],
    'Hogwarts service' : ['Matron', 'Flying Instructor', 'Astronomer', 'keeper of keys'],
    'Magical Government' : ['Magical', 'Muggle Artefacts'],
    'Death eater' : ['unspeakable', 'voldemort', 'executioner'],
    'Barman' : ['barman'],   
    'Quidditch' : ['quidditch'],
    'Head of House' : ['head'],
    'Personal Assistant' : ['Personal assistant']              
}

def agrupar_feina(feina):
    # Ens assegurem que les paraules estiguin en minuscules i sense espais addicionals
    feina = feina.strip().lower()
    
    for categoria, similares in feines_similars.items():
        # Comparem la feina amb les paraules de la llista
        llista = [item.strip().lower() for item in similares]
        paraules_dividides = []
        for paraula in llista:
            paraula_separada = paraula.split(' ')
            paraules_dividides.append(' '.join(paraula_separada))
        for i in paraules_dividides:
             if i in feina:
                return categoria.lower()
    return feina

# Filtrem els personatges que tenen 1, 2 o 3 feines
df_job_1 = df[df['Job_Count'] == 1]
df_job_2 = df[df['Job_Count'] == 2]
df_job_3 = df[df['Job_Count'] == 3]

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_1'
df_job_1['Job_1_Agrupat'] = df_job_1['Job_1'].apply(agrupar_feina)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_2'
df_job_2['Job_1_Agrupat'] = df_job_2['Job_1'].apply(agrupar_feina)
df_job_2['Job_2_Agrupat'] = df_job_2['Job_2'].apply(agrupar_feina)

# Apliquem la funció per agrupar les feines més similars de la columna 'Job_3'
df_job_3['Job_1_Agrupat'] = df_job_3['Job_1'].apply(agrupar_feina)
df_job_3['Job_2_Agrupat'] = df_job_3['Job_2'].apply(agrupar_feina)
df_job_3['Job_3_Agrupat'] = df_job_3['Job_3'].apply(agrupar_feina)

# Contem quantes vegades és repeteixen les feines de la columna 'Job_1'
feines_repetides_job_1 = df_job_1['Job_1_Agrupat'].value_counts()

# Imprimim les feines i quantes vegeades és repeteixen
print("Feines repetides Job_1:\n")
print(feines_repetides_job_1)

df_tot = pd.concat([df_job_1, df_job_2, df_job_3], ignore_index=True, sort=False)

df_tot = df_tot.sort_values(by='Id')

df_tot.head()

Feines repetides Job_1:

Job_1_Agrupat
student               53
professor              9
auror                  7
death eater            7
magical government     4
house ghost            4
founder                4
hogwarts service       3
school head            2
gringotts              2
housewife              2
dragonologist          1
school governor        1
wandmaker              1
minister for magic     1
barman                 1
quidditch              1
Name: count, dtype: int64

C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_1['Job_1_Agrupat'] = df_job_1['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_2['Job_1_Agrupat'] = df_job_2['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_2['Job_2_Agrupat'] = df_job_2['Job_2'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_1_Agrupat'] = df_job_3['Job_1'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_2_Agrupat'] = df_job_3['Job_2'].apply(agrupar_feina)
C:\Users\helen\AppData\Local\Temp\ipykernel_9564\406986074.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job_3['Job_3_Agrupat'] = df_job_3['Job_3'].apply(agrupar_feina)

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3,Job_1_Agrupat,Job_2_Agrupat,Job_3_Agrupat
0,1,Harry James Potter,1,Student,Gryffindor,"11"" Holly phoenix feather",Stag,2,2.0,2,1.0,Albus Dumbledore | Dumbledore's Army | Order o...,Parseltongue| Defence Against the Dark Arts | ...,1,Student,NaN,NaN,student,NaN,NaN
1,2,Ronald Bilius Weasley,1,Student,Gryffindor,"12"" Ash unicorn tail hair",Jack Russell terrier,2,2.0,16,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Wizard chess | Quidditch goalkeeping,1,Student,NaN,NaN,student,NaN,NaN
2,3,Hermione Jean Granger,0,Student,Gryffindor,"10¾"" vine wood dragon heartstring",Otter,2,2.0,5,0.0,Dumbledore's Army | Order of the Phoenix | Hog...,Almost everything,1,Student,NaN,NaN,student,NaN,NaN
3,4,Albus Percival Wulfric Brian Dumbledore,1,Headmaster,Gryffindor,"15"" Elder Thestral tail hair core",Phoenix,2,2.0,22,1.0,Dumbledore's Army | Order of the Phoenix | Hog...,Considered by many to be one of the most power...,1,Headmaster,NaN,NaN,school head,NaN,NaN
103,5,Rubeus Hagrid,1,Keeper of Keys and Grounds | Professor of Care...,Gryffindor,"16"" Oak unknown core",NaN,1,1.0,2,1.0,Albus Dumbledore | Order of the Phoenix | Hogw...,Resistant to stunning spells| above average st...,2,Keeper of Keys and Grounds,Professor of Care of Magical Creatures,NaN,hogwarts service,professor,NaN

Respecte als personatges que tenen més d'una feina, mirarem quina d'aquestes està més repetida i li assignarem aquesta.

In [646]:
print(feines_repetides_job_1)

Job_1_Agrupat
student               53
professor              9
auror                  7
death eater            7
magical government     4
house ghost            4
founder                4
hogwarts service       3
school head            2
gringotts              2
housewife              2
dragonologist          1
school governor        1
wandmaker              1
minister for magic     1
barman                 1
quidditch              1
Name: count, dtype: int64

A continuació mirem quin **tipus** de **dades** tenim.

In [641]:
print (df.dtypes)

Id                int64
Name             object
Gender           object
Job              object
House            object
Wand             object
Patronus         object
Species          object
Blood status    float64
Hair colour      object
Eye colour      float64
Loyalty          object
Skills           object
Job_Count         int64
Job_1            object
Job_2            object
Job_3            object
dtype: object

Veiem que totes les variables són categòriques.

Haurem de fer **encoding** de totes aquestes.
*

In [642]:
numeric_features = df.select_dtypes(np.number).keys()
non_numeric = [k for k in df.keys()]
df.loc[:,non_numeric] = df.loc[:,non_numeric].apply(LabelEncoder().fit_transform)
df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3
0,0,51,1,42,2,6,14,2,2.0,2,1.0,1,49,1,42,8,1
1,1,97,1,42,2,9,7,2,2.0,16,1.0,9,81,1,42,8,1
2,2,54,0,42,2,5,11,2,2.0,5,0.0,9,3,1,42,8,1
3,3,2,1,19,2,15,12,2,2.0,22,1.0,9,19,1,19,8,1
4,4,100,1,23,2,16,19,1,1.0,2,1.0,3,61,2,23,6,1

**Normalitzem** les dades. En concret, els atributs ** També normalitzarem el target **.

In [643]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

numerical_columns=[k for k in df.keys()]
train_norm=sc.fit_transform(df.loc[:,numerical_columns])
df[numerical_columns]=train_norm
df.head()

,Id,Name,Gender,Job,House,Wand,Patronus,Species,Blood status,Hair colour,Eye colour,Loyalty,Skills,Job_Count,Job_1,Job_2,Job_3
0,-1.717310,-0.207262,0.748331,0.709753,-0.937987,-2.562396,0.064631,0.192166,0.192166,-0.945276,0.748331,-1.854129,0.307891,-0.112823,0.719144,0.254951,0.092848
1,-1.687701,1.154743,0.748331,0.709753,-0.937987,-2.110435,-1.589513,0.192166,0.192166,0.945276,0.748331,-0.722058,1.563602,-0.112823,0.719144,0.254951,0.092848
2,-1.658092,-0.118435,-1.336306,0.709753,-0.937987,-2.713049,-0.644288,0.192166,0.192166,-0.540158,-1.336306,-0.722058,-1.497194,-0.112823,0.719144,0.254951,0.092848
3,-1.628483,-1.658092,0.748331,-0.776586,-0.937987,-1.206515,-0.407982,0.192166,0.192166,1.755513,0.748331,-0.722058,-0.869338,-0.112823,-0.775232,0.254951,0.092848
4,-1.598875,1.243569,0.748331,-0.518092,-0.937987,-1.055861,1.246162,-2.056172,-2.056172,-0.945276,0.748331,-1.571111,0.778782,2.527245,-0.515340,-1.274755,0.092848